@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto Slab', serif;
    }
}

@layer components {
    .card {
        @apply rounded-2xl bg-white shadow-sm hover:shadow-md;
    }

    .card-title {
        @apply flex items-center justify-center rounded-t-lg border-b border-gray-100 p-4;
    }

    .axis-name {
        @apply fill-neutral-500 text-xs;
    }
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.tooltip {
    position: absolute;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: 0;
}
