@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
  }
}

@layer components {
  .card {
    @apply relative rounded-2xl  bg-white;
  }

  .card-front {
    @apply inset-0 rounded-2xl bg-white shadow-sm;
  }

  .card-back {
    @apply inset-0 flex items-center justify-center rounded-2xl border border-neutral-100 bg-neutral-800 text-white;
  }

  .card-title {
    @apply flex items-center justify-between rounded-t-lg border-b border-gray-100 py-3 px-8;
  }

  .axis-name {
    @apply fill-neutral-500 text-xs;
  }

  .modalButton {
    @apply rounded-full bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800
    focus:outline-none focus:ring-4 focus:ring-blue-300;
  }

  .tooltip {
    @apply absolute z-50 hidden rounded-lg border border-black bg-white p-2 text-sm leading-5 opacity-0;
  }

  .chartContainer {
    @apply px-4 py-2;
  }
}

svg {
  display: block;
  margin: auto;
}

.gridline {
  stroke: black;
  opacity: 0.1;
}

.active {
  position: fixed;
  z-index: 20;
  max-height: 85%;
  width: 60%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
}

.modal {
  position: fixed;
  z-index: 10;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
