@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', serif;
  }
}

@layer components {
    .card {
        @apply relative rounded-2xl  bg-white;
    }

    .card-front {
        @apply inset-0 rounded-2xl bg-white shadow-sm;
    }

    .card-back {
        @apply inset-0 flex items-center justify-center rounded-2xl border border-neutral-100 bg-neutral-800 text-white;
    }

    .card-title {
        @apply flex items-center justify-between rounded-t-lg border-b border-gray-100 py-3 px-6;
    }

    .axis-name {
        @apply fill-neutral-500 text-xs;
    }

    .modalButton {
        @apply rounded-full bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800
        focus:outline-none focus:ring-4 focus:ring-blue-300;
  }
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.tooltip {
  position: absolute;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0;
}

.gridline {
  stroke: black;
  opacity: 0.1;
}

.flex-waffle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 3s ease-in-out;
}

.active {
    position: fixed;
    z-index: 20;
    max-height: 85%;
    width: 60%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*transition: all 3s;*/
}

.modal {
    position: fixed;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*transition: all 1s;*/
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*.card:hover {*/
/*  transform: rotateY(180deg);*/
/*  transform-style: preserve-3d;*/
/*}*/

/*.card-back {*/
/*  transform: rotateY(180deg);*/
/*}*/
